
.icon-ok:before { content: '\e800'; } /* '' */
.icon-ok-circled2:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-right-circled:before { content: '\e803'; } /* '' */
.icon-diamond:before { content: '\e804'; } /* '' */
.icon-paper-plane:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-star-1:before { content: '\e80b'; } /* '' */
.icon-github-text:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
